.center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.page {
    width: 350px;
}
.extension {
    position: relative;
    width: 350px;
    height: 450px;
}
.purseCon {
    text-align: center;
    margin-top: 4px;
    left: 130px;
    position: absolute;
}
.back {
    top: 12px;
    left: 20px;
    position: absolute;
    cursor: pointer;
}
.jigs {
    width: 100%;
    top: 15px;
    height: 391px;
}
.titleCon {
    top: 35px;
    left: 149px;
    position: absolute;
}
.label {
    position: absolute;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}
.curBal {
    top: 83px;
    left: 44px;
}
.jigsList {
    position: absolute;
    width: 282px;
    top: 88px;
}
.jigsBtn {
    position: relative;
    width: 48px;
    height: 48px;
    top: 315px;
    background: #F4C51D;
    border: 1px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
}
.emoji {
    position: relative;
    left: 20px;
    height: 26px;
    width: 26px;
}
.tokenBalance {
    right: 11px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-top: 8px;
}
.contractName {
    left: 80px;
    bottom: 5px;
    position: relative;
    width: 146px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.amtlabel {
    left: 44px;
    top: 149px;
}
.sendAmt {
    position: absolute;
    width: 253px;
    height: 50px;
    left: 44px;
    top: 169px;
    background: #E5E5E5;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    color: #000000;
    text-align: center;
}
.addrlabel {
    left: 44px;
    top: 236px;
}
.addrInput {
    top: 256px;
    position: absolute;
    width: 253px;
    height: 33px;
    left: 44px;
    background: #E5E5E5;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #000000;
}
.send {
    text-align: center;
}
.check {
    display: none;
    top: 64px;
    left: 74px;
    position: absolute;
}
.purselogo {
    width: 74px;
    height: 32px;
}