body {
    background: #D3D3D3;
}
.center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.page {
    width: 350px;
}
.extension {
    position: relative;
    width: 350px;
}
.purseCon {
    text-align: center;
    margin-top: 12px;
}
.settings {
    position: absolute;
    left: 20px;
    top: 4px;
}
.sendbsv {
    position: absolute;
    width: 49px;
    height: 32px;
    left: 20px;
    top: -3px;
    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #303030;
}
.clip {
    position: absolute;
    right: 50px;
    top: 9px;
    z-index: 2;
    cursor: pointer;
    height: 49px;
    width: 21px;
    background: url('../images/clip.svg') no-repeat;
}
.clip:hover {
    background: url('../images/clip_highlight.svg') no-repeat;
}
.clip:hover > .sendbsv {
    color: #F4C51D;
}
.purse {
    position: absolute;
    left: 22px;
    top: 40px;
    z-index: 1;
}
.flip {
    position: absolute;
    bottom: 3px;
    left: 8px;
    cursor: pointer;
}
.transfer {
    position: absolute;
    bottom: 3px;
    right: 8px;
    cursor: pointer;
}
.flip-card {
    background-color: transparent;
    width: 298px;
    height: 171px;
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card, .ocard {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card {
    background: #303030;
    border-radius: 10px;
    transform: rotate(-2.6deg);
}
.owner {
    position: absolute;
    left: 22px;
    top: 40px;
}
.ocard {
    background: rgba(48, 48, 48, 0.8);
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    transform: rotateY(180deg);
}
.black {
    position: absolute;
    left: 1px;
    top: 21px;
    width: 290px;
    height: 42px;
    background: #303030;
}
.ownerLabel {
    position: absolute;
    right: 53px;
    top: 41px;
    font-family: 'Courier Prime', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.jigsBalance {
    top: 70px;
    right: 43px;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    text-align: right;
    color: #FFFFFF;
    position: absolute;
}
.purseLabel {
    position: absolute;
    left: 31px;
    top: 42px;
    font-family: 'Courier Prime', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.ownerAddr {
    position: absolute;
    left: 40px;
    top: 131px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}
.oaddrInput {
    background: rgba(48, 48, 48, 0.8);
    top: -5px;
    left: -5px;
    position: relative;
    color: white;
    width: 200px;
    font-size: 10px;
}
.ocopy {
    top: -5px;
    margin-left: 15.5;
    position: absolute;
    cursor: pointer;
}
.oqrcode {
    left: 36px;
    top: 28px;
    position: absolute;
    background-color: #fff;
    padding: 4px;
}
.purseBalance {
    top: 68px;
    left: 39px;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
    position: absolute;
    cursor: pointer;
}
.bsvBalance {
    font-size: 18px;
    line-height: 24px;
}
.purseAddr {
    position: absolute;
    left: 40px;
    top: 131px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}
.qrcode {
    right: 36px;
    bottom: 58px;
    position: absolute;
    background-color: #fff;
    padding: 4px;
}
.copy {
    top: -5px;
    margin-left: 13.5;
    position: absolute;
    cursor: pointer;
}
.jigs {
    position: relative;
    width: 100%;
    top: 15px;
    height: 530px;
    background: #D3D3D3;
}
.titleCon {
    top: 25px;
    left: 129px;
    position: absolute;
}
.jigsBtn {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 240px;
    top: 15px;
    background: #D3D3D3;
    border: 1px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
}
.dripdrop {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 20px;
    top: 15px;
    background: #D3D3D3;
    border: 1px solid #000000;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
}
.jigsList {
    position: absolute;
    width: 100%;
    left: -20px;
    top: 56px;
}
.emoji {
    position: absolute;
    left: 20px;
    height: 26px;
    width: 26px;
}
.tokenBalance {
    right: 11px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-top: 8px;
    width: 85px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}
.contractName {
    left: 30px;
    bottom: 5px;
    position: relative;
    width: 100px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.addrInput {
    background: #303030;
    top: -5px;
    left: -5px;
    position: relative;
    color: white;
    width: 200px;
    font-size: 10px;
}
ul {
    list-style: none;
}
li {
    margin-bottom: 10px;
}
.jig {
    visibility: hidden;
}
.select {
    cursor: pointer;
}
.jig:checked {
    background: rgba(244, 197, 29, 0.5);
}
.element {
    height: 30px;
    line-height: 40px;
}
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000000;
    color: white;
    padding: 8px;
    z-index: 100;
}
.purselogo {
    width: 74px;
    height: 32px;
}
.ownerlogo {
    width: 149px;
    height: 32px;
}
.jigslogo {
    width: 58px;
    height: 32px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #D3D3D3;
    background-color: rgba(0,0,0,0.4);
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Courier;
}
.modal-content {
    background-color: #D3D3D3;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 70%;
    font-weight: bold;
    font-size: 20px;
}
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
@media only screen and (max-width: 330px) {
    .page { width: 100%; }
    body { zoom: 90% }
}